<a href="https://colab.research.google.com/github/Chandnahc/Projects/blob/main/ML%20models/NewsClassification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importing libraries

In [ ]:
import nltk

In [ ]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd

In [ ]:
genuine = pd.read_csv('/content/drive/MyDrive/True-210604-161650.csv')
fake = pd.read_csv('/content/drive/MyDrive/Fake-210604-161841.csv')

In [ ]:
display(fake.info(),genuine.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23481 entries, 0 to 23480
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    23481 non-null  object
 1   text     23481 non-null  object
 2   subject  23481 non-null  object
 3   date     23481 non-null  object
dtypes: object(4)
memory usage: 733.9+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21417 entries, 0 to 21416
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    21417 non-null  object
 1   text     21417 non-null  object
 2   subject  21417 non-null  object
 3   date     21417 non-null  object
dtypes: object(4)
memory usage: 669.4+ KB

None

None

In [ ]:
fake.head()

                                               title  ...               date
0   Donald Trump Sends Out Embarrassing New Year’...  ...  December 31, 2017
1   Drunk Bragging Trump Staffer Started Russian ...  ...  December 31, 2017
2   Sheriff David Clarke Becomes An Internet Joke...  ...  December 30, 2017
3   Trump Is So Obsessed He Even Has Obama’s Name...  ...  December 29, 2017
4   Pope Francis Just Called Out Donald Trump Dur...  ...  December 25, 2017

[5 rows x 4 columns]

In [ ]:
genuine.head(11)

                                                title  ...                date
0   As U.S. budget fight looms, Republicans flip t...  ...  December 31, 2017
1   U.S. military to accept transgender recruits o...  ...  December 29, 2017
2   Senior U.S. Republican senator: 'Let Mr. Muell...  ...  December 31, 2017
3   FBI Russia probe helped by Australian diplomat...  ...  December 30, 2017
4   Trump wants Postal Service to charge 'much mor...  ...  December 29, 2017
5   White House, Congress prepare for talks on spe...  ...  December 29, 2017
6   Trump says Russia probe will be fair, but time...  ...  December 29, 2017
7   Factbox: Trump on Twitter (Dec 29) - Approval ...  ...  December 29, 2017
8          Trump on Twitter (Dec 28) - Global Warming  ...  December 29, 2017
9   Alabama official to certify Senator-elect Jone...  ...  December 28, 2017
10  Jones certified U.S. Senate winner despite Moo...  ...  December 28, 2017

[11 rows x 4 columns]

In [ ]:
display(fake.subject.value_counts())

News               9050
politics           6841
left-news          4459
Government News    1570
US_News             783
Middle-east         778
Name: subject, dtype: int64

In [ ]:
display(genuine.subject.value_counts())

politicsNews    11272
worldnews       10145
Name: subject, dtype: int64

In [ ]:
fake['target'] = 0
genuine['target'] = 1

In [ ]:
fake.head()

                                               title  ... target
0   Donald Trump Sends Out Embarrassing New Year’...  ...      0
1   Drunk Bragging Trump Staffer Started Russian ...  ...      0
2   Sheriff David Clarke Becomes An Internet Joke...  ...      0
3   Trump Is So Obsessed He Even Has Obama’s Name...  ...      0
4   Pope Francis Just Called Out Donald Trump Dur...  ...      0

[5 rows x 5 columns]

In [ ]:
data = pd.concat([fake,genuine], axis=0)

In [ ]:
data = data.reset_index(drop=True)

In [ ]:
data = data.drop(['subject','date','title'],axis=1)

In [ ]:
data.head(10)

                                                text  target
0  Donald Trump just couldn t wish all Americans ...       0
1  House Intelligence Committee Chairman Devin Nu...       0
2  On Friday, it was revealed that former Milwauk...       0
3  On Christmas day, Donald Trump announced that ...       0
4  Pope Francis used his annual Christmas Day mes...       0
5  The number of cases of cops brutalizing and ki...       0
6  Donald Trump spent a good portion of his day a...       0
7  In the wake of yet another court decision that...       0
8  Many people have raised the alarm regarding th...       0
9  Just when you might have thought we d get a br...       0

#TOKENIZATION

In [ ]:
from nltk.tokenize import word_tokenize

In [ ]:
data['text']=data['text'].apply(word_tokenize)

In [ ]:
print(data.head(10))

                                                text  target
0  [Donald, Trump, just, couldn, t, wish, all, Am...       0
1  [House, Intelligence, Committee, Chairman, Dev...       0
2  [On, Friday, ,, it, was, revealed, that, forme...       0
3  [On, Christmas, day, ,, Donald, Trump, announc...       0
4  [Pope, Francis, used, his, annual, Christmas, ...       0
5  [The, number, of, cases, of, cops, brutalizing...       0
6  [Donald, Trump, spent, a, good, portion, of, h...       0
7  [In, the, wake, of, yet, another, court, decis...       0
8  [Many, people, have, raised, the, alarm, regar...       0
9  [Just, when, you, might, have, thought, we, d,...       0

# STEMMING

In [ ]:
from nltk.stem.snowball import SnowballStemmer
porter = SnowballStemmer('english')

In [ ]:
def stem_it(text):
  return [porter.stem(word) for word in text]

In [ ]:
data['text']=data['text'].apply(stem_it)

In [ ]:
print(data.head(10))

                                                text  target
0  [donald, trump, just, couldn, t, wish, all, am...       0
1  [hous, intellig, committe, chairman, devin, nu...       0
2  [on, friday, ,, it, was, reveal, that, former,...       0
3  [on, christma, day, ,, donald, trump, announc,...       0
4  [pope, franci, use, his, annual, christma, day...       0
5  [the, number, of, case, of, cop, brutal, and, ...       0
6  [donald, trump, spent, a, good, portion, of, h...       0
7  [in, the, wake, of, yet, anoth, court, decis, ...       0
8  [mani, peopl, have, rais, the, alarm, regard, ...       0
9  [just, when, you, might, have, thought, we, d,...       0

# STOPWORD REMOVAL

In [ ]:
#from nltk.corpus import stopwords

In [ ]:
def stop_it(t):
  dt= [word for word in t if len(word)>2]
  return dt

In [ ]:
data['text'] = data['text'].apply(stop_it)

In [ ]:
print(data.head(10))

                                                text  target
0  [donald, trump, just, couldn, wish, all, ameri...       0
1  [hous, intellig, committe, chairman, devin, nu...       0
2  [friday, was, reveal, that, former, milwauke, ...       0
3  [christma, day, donald, trump, announc, that, ...       0
4  [pope, franci, use, his, annual, christma, day...       0
5  [the, number, case, cop, brutal, and, kill, pe...       0
6  [donald, trump, spent, good, portion, his, day...       0
7  [the, wake, yet, anoth, court, decis, that, de...       0
8  [mani, peopl, have, rais, the, alarm, regard, ...       0
9  [just, when, you, might, have, thought, get, b...       0

In [ ]:
data['text']=data['text'].apply(' '.join)

In [ ]:
print(data.head())

                                                text  target
0  donald trump just couldn wish all american hap...       0
1  hous intellig committe chairman devin nune hav...       0
2  friday was reveal that former milwauke sheriff...       0
3  christma day donald trump announc that would b...       0
4  pope franci use his annual christma day messag...       0

# SPLITTING

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(data['text'], data['target'], test_size=0.25)
display(x_train.head())
print('\n')
display(y_train.head())

1417     word has gone out through the white hous that ...
17262    like moth lamp bam the terror suspect who alle...
43841    dubai reuter human right watch accus the saudi...
16828    this mind-blow interview that confirm much wha...
922      six million pole lost their live dure world wa...
Name: text, dtype: object

1417     0
17262    0
43841    1
16828    0
922      0
Name: target, dtype: int64

# VECTORIZATION

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
my_tfidf = TfidfVectorizer(max_df=0.7)

tfidf_train = my_tfidf.fit_transform(x_train)
tfidf_test = my_tfidf.transform(x_test)

In [ ]:
print(tfidf_train)

  (0, 41228)	0.032655749863537656
  (0, 34930)	0.0444942178513693
  (0, 87464)	0.03064800716478539
  (0, 53571)	0.09646595411391518
  (0, 89847)	0.04088810079095043
  (0, 64220)	0.053325246530307555
  (0, 66048)	0.03421315431821993
  (0, 81694)	0.02688242232444837
  (0, 40054)	0.07670229392565373
  (0, 7485)	0.05596704067582361
  (0, 56028)	0.023127856745451373
  (0, 77360)	0.056895597476154684
  (0, 42798)	0.08790320850445109
  (0, 68161)	0.04349196110569494
  (0, 31507)	0.0473054719651767
  (0, 84203)	0.05606117446533557
  (0, 90082)	0.04666196755063264
  (0, 40286)	0.055306645704425485
  (0, 39066)	0.12357661750189303
  (0, 76640)	0.06856489884323927
  (0, 15167)	0.06267215490186706
  (0, 89850)	0.07112950403427858
  (0, 88818)	0.032002889912473645
  (0, 89472)	0.023066716650476566
  (0, 10501)	0.04985632712733648
  :	:
  (33672, 88818)	0.04403782069090887
  (33672, 89472)	0.01587056566703624
  (33672, 58391)	0.02121305430839235
  (33672, 7911)	0.024438894452061145
  (33672, 11658)	0.03778397812544301
  (33672, 89778)	0.030535063291884296
  (33672, 70076)	0.05197559862423983
  (33672, 80523)	0.019960410694138227
  (33672, 33546)	0.01257068998600732
  (33672, 62898)	0.023136548613786875
  (33672, 73990)	0.027013970518002278
  (33672, 29289)	0.024437400297446125
  (33672, 49888)	0.05373629641260086
  (33672, 28137)	0.028804067945239722
  (33672, 47178)	0.022722370673844153
  (33672, 50588)	0.04842918389021473
  (33672, 84014)	0.06117347940273377
  (33672, 82142)	0.038953203053920804
  (33672, 89479)	0.02067568580020816
  (33672, 60723)	0.24165733300868608
  (33672, 27200)	0.045912308582269384
  (33672, 59690)	0.024850855000158798
  (33672, 51832)	0.018861450966123166
  (33672, 10812)	0.027196735561899107
  (33672, 38026)	0.0373928266440537

# LogisticRegression

In [ ]:
from sklearn.linear_model import LogisticRegression
#from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

In [ ]:
model_1 = LogisticRegression(max_iter=900)
model_1.fit(tfidf_train, y_train)
pred_1 = model_1.predict(tfidf_test)
cr1 = accuracy_score(y_test, pred_1)
print(cr1*100)

98.87750556792872

# PassiveAgressiveClassifier

In [ ]:
from sklearn.linear_model import PassiveAggressiveClassifier

model = PassiveAggressiveClassifier(max_iter=50)
model.fit(tfidf_train, y_train)

PassiveAggressiveClassifier(C=1.0, average=False, class_weight=None,
                            early_stopping=False, fit_intercept=True,
                            loss='hinge', max_iter=50, n_iter_no_change=5,
                            n_jobs=None, random_state=None, shuffle=True,
                            tol=0.001, validation_fraction=0.1, verbose=0,
                            warm_start=False)

In [ ]:
y_pred = model.predict(tfidf_test)
accscore = accuracy_score(y_test, y_pred)
print('The accuracy of prediction is ', accscore*100)

The accuracy of prediction is  99.62583518930957